
<div class="row-fluid">
	<div class="span12">
		<h1> Posts </h1>
		<hr />

		<% if user_signed_in? %>
			<%= link_to current_user.email, edit_user_registration_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %>
		<% end %>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<% if !@posts.empty? %>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Content</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>	
			<% @posts.each do |post| %>
					<tr>
						<td> <%= post.title %> </td>
						<td> <%= post.content %> </td>
						<td>
							<% if can? :read, Post %>
								<%= link_to "Show", user_post_path(current_user, post) %>
							<% end %>
							 | Edit | Delete
						</td>
					</tr>
			<% end %>
				</tbody>
			</table>
		<% end %>

		<% if @posts.empty? %>
			<div style="margin-top:10px" class="alert alert-error">No results found.</div>
		<% end %>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<% if user_signed_in? %>
			<%= link_to "New Post", new_user_post_path(current_user) %>
		<% end %>
	</div>
</div>